
  body{
    /* background-color: #333; */
    background-color:black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#container{
    border: 1px solid white;
}

canvas {
    left: 0;
    right: 0;
    width: 960px; /* times 1.5 */
    height: 540px;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    border: 1px solid white;
}