.frame {
     --x: -400px;  /* double hyphen is a css variable*/
     --height: 0px;
     --background: url(./assets/Transformation/transform1.png);
    background-image: url(./assets/blinkTop.png), url(./assets/blinkBottom.png), var(--background);
    background-repeat: no-repeat;
    background-position: top, bottom, var(--x); /* how to actually use a variable */
    background-size: 900px var(--height), 900px var(--height), 1800px 500px; /* sets a bigger size background than the viewport*/ 
    width: 900px; height: 500px; /* this sets the size of the viewing frame*/
    border: 1px solid white;
    transition: background-size .20s, background-size .20s,background-position .15s; /* any time we change this property we want to do it with a transition of _ secs*/
    margin-top: 5%;
}

                                                      

*{
    box-sizing: border-box;
  }
  
  
  #frame {
      width: 100%; height: auto;
  }
  
  
    body{
        /* background-color: #333; */
        background-color:black;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .button{
        margin-top: 5%;
        margin-bottom: 5%;
    }