.container{
    position: relative;
    text-align: center;
    color: white;
}
.pic{
    width: 75%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#eyes{
    border: 1px solid white;
    margin-top: 25%;
    margin-bottom: 35%;
}
                                                     
*{
   box-sizing: border-box;
 }
 

 
   body{
       /* background-color: #333; */
       background-color:black;
       color: white;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       margin: 0;
   }

   .button{
    margin-top: 10px;
    margin-bottom: 10px;
}